<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>

    <tr>
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getSurname()}">Surname</td>
        <td th:text="${user.getAge()}">Age</td>
    </tr>
</table>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:method="GET" th:action="@{/admins/users/{id}/edit(id=${user.getId()})}">
        <input type="submit" value="edit">
    </form>
    <br>
    <form th:method="GET" th:action="@{/admins/users-delete/{id}(id=${user.getId()})}">
        <input type="submit" value="delete">
    </form>
</div>
<br>
<hr>
<form th:method="GET" action="/logout">
    <input type="submit" value="logout">
</form>
</body>
</html>